body {
    background-image: url(../img/background.png);
}

.itens {
    position: absolute;
    background-color: black;
    color: #ffff;
    text-align: center;
}

.itens img {
    height: 70px;
}

#nave {
    position: absolute;
    bottom: 10px;
    left: 50%;
}

#nave img {
    height: 150px;
}


/*
#missil {
}

#missil img {
    height: 100px;
}*/