body {
    background-image: url(../img/background.png);
}

#caixa {
    position: absolute;
    background-color: black;
    color: #ffff;
    text-align: center;
}

#caixa img {
    height: 70px;
}

#nave {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
}



/*
#missil {
}

#missil img {
    height: 100px;
}*/