body {
    background-image: url(../img/background.png);
}

.itens {
    position: absolute;
    background-color: black;
    color: #ffff;
    text-align: center;
}

.itens img {
    height: 70px;
}

#nave {
    display: flex;
    justify-content: center;
    padding-top: 750px;
}

#nave img {
    height: 150px;
}

/*
#missil {
}

#missil img {
    height: 100px;
}*/