* {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../img/background.png);
}

#caixa {
    position: absolute;
    background-color: black ;
    color: #ffff;
    text-align: center;
}

#caixa img {
    height: 70px;
}

#nave {
    position: absolute;
    bottom: 10px;
    left: 50%;
    height: 150px;

    z-index: 6;
}

#missil {
    position: absolute;
    bottom: 40px;
    left: 50.5%;
    transform: translateX(0);
    height: 90px;

    z-index: 5;
}

#missil2 {
    position: absolute;
    bottom: 40px;
    left: 53%;
    transform: translateX(0);
    height: 90px;

    z-index: 4;
}